<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!--/*/ <th:block th:include="fragments/headerimports :: head"></th:block> /*/-->
	
<title>Recipe App</title>
</head>
<body>
	<div class="container">
		
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>List of Recipes</h1>

			</div>
			<div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
				<table class="table table-striped table-hover ">
					<thead>
						<tr>
							<th>ID</th>
							<th>Description</th>
							<th sec:authorize="hasAnyAuthority('USER','ADMIN')">View</th>
							<th sec:authorize="hasAuthority('ADMIN')">Update</th>
							<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="recipe : ${recipes}">
							<td th:text="${recipe.id}"></td>
							<td th:text="${recipe.description}"></td>
							<td sec:authorize="hasAnyAuthority('USER','ADMIN')"><a
								href="#" th:href="@{'/recipe/'+${recipe.id}+'/show'}">View</a></td>
							<td sec:authorize="hasAuthority('ADMIN')"><a href="#"
								th:href="@{'/recipe/'+${recipe.id}+'/update'}">Update</a></td>
							<td sec:authorize="hasAuthority('ADMIN')"><a href="#"
								th:href="@{'/recipe/'+${recipe.id}+'/delete'}">delete</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<footer class="footer">
			<p>&copy; @Faltdor 2017</p>
		</footer>
	</div>




</body>
</html>